body {
	text-align: center;
	background-color: #eeeeee;
	font: 11pt Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}
a#skip {
	position: absolute;
	top:-100px;
}
#container {
	text-align: left;
	width: 740px;
	background-color: #ffffff;
	border: 1px solid #000000;
	margin-right: auto;
	margin-left: auto;
}
#header {
	width: 740px;
	height: 100px;
}
#highlevel {
	width: 740px;
	height: 30px;
	background-color: #333333;
}
#top-left {
	margin-left: 8px;
	margin-top: 5px;
	margin-bottom: 0px;
	float: left;
	font: 8pt/14pt Verdana, Arial, Helvetica, sans-serif;
}
a.white {
	color: #EEEEEE;
	text-decoration: none;
}
a.white:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.white-text {
	color: #EEEEEE;
}
#top-right {
	margin-top: 3px;
	float: right;
}
.drop-box {
	font-size: 8pt;
	background: #FEFBF2;
}
form {
	margin-bottom: 0;
}
form input.button {
	margin-right: 5px;
	background-color: #ffffff;
	font: bold 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #de5901;
	border: 1px solid #F8E7B1;
}
h1.graphic {
	valign: top;
	width: 740px;
	height: 60px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
#body {
	clear: both;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 0px;
	padding-bottom: 10px;
	margin-top: 5px;
}
.box {
	clear: both;
	border: 1px dotted #333333;
	align: center;
	margin: 2px;
	padding: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 20px;
	background-color: #f9f4f3;
}
.box2 {
	clear: both;
	border: thin dashed #333333;
	align: left;
	width: 600px;
	padding: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 20px;
	background-color: #fbf0e8;
}
.box3 {
	border: 1px dotted #de5901;
	float: right;
	width: 220px;
	padding: 8px;
	margin: 5px;
	background-color: #FFF9E5;
	font-size: 9pt;
}
ul {
	margin-top: 2px;
	margin-bottom: 23px;
	list-style-image: url(images/arrow-bullet.gif);
	margin-left: 25px;
	padding-left: 0px;
}
ul li {
	padding-left: -20px;
	font: 10pt/17pt Verdana, Arial, Helvetica, sans-serif;
}
ol li {
	padding-left: -20px;
	font: 10pt/17pt Verdana, Arial, Helvetica, sans-serif;
}

ul.news li {
	padding-left: -20px;
	font: 9pt/15pt verdana, helvetica, sans-serif;
}
ul li ul {
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-image: url(images/arrow-bullet2.gif);
	margin-left: 25px;
	padding-left: 0px;
}
ul li ul li {
	padding-left: -20px;
	font: 10pt/170% Verdana, Helvetica, sans-serif;
}
h1 {
	color: #4f241a;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16pt;
	font-weight: 600;
	font-variant: small-caps;

}
h1.homepage {
	margin: 0px;
	padding: 0px;
}
h2.news {
	color: #56483f;
	font-size: 14pt;
	font-family: "Times New Roman", Times, serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-variant: small-caps;
}
h2 {
	color: #fb7e2b;
	font-size: 14pt;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-weight: 400;
	font-variant: normal;

}
h3 {
	color: #69391a;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-weight: 600;
	font-style: italic;


}
h3.homepage {
	margin: 0px;
	padding: 0px;
}
h4 {
	color: #666666;
	font-size: 11pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#footer {
	width: 740px;
	height: 45px;
	background-color: #333333;
}
#bottom-left {
	margin-left: 8px;
	margin-top: 6px;
	margin-bottom: 0px;
	float: left;
	font: 8pt/14pt Verdana, Arial, Helvetica, sans-serif;
}
#contactus {
	margin-top: 6px;
	margin-right: 5px;
	float: right;
	text-align: right;
	font: 8pt verdana, helvetica, sans-serif;
}
#top-bread {
	margin-left: 10px;
	margin-top: -6px;
	font: 8pt verdana, helvetica, sans-serif;
}
#bottom-bread {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 20px;
	font: 8pt verdana, helvetica, sans-serif;
}
.selected {
	color: #69391a; 
	font-weight: bold;
}
p {
	font: 10pt/18pt verdana, helvetica, sans-serif;
	margin-top: 5px;
	margin-bottom: 10px;
}
.progdesc {
	color: #FFFFEE;
	font-weight: bold;
}
pre {
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
}
.navigation {
	font-size: 8pt;
	line-height: 14pt;
}
.small {
	font-size: 9pt;
	color: #666666;
	line-height: 13pt;
}
.pdf {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #666666;
}
.orange

{color:#FF8000;}